p{
    display: flex;
}

mark{ background-color: #ffee05;}

#video{
border-radius: 10px;

}
#marge{ margin: 5px;


}
h1{
    color:#ffee05;
}

.stopFloat{    
    clear: both;
}

.alinharElementosAEsquerda{
    float: left;
  
}

.alinharElementosADireita{
    float: right;
}

.alinharTextoADireita{
    text-align: right;
}

.alinharTextoAEsquerda{
    text-align: left;
}
.alinharAoCentro{

    display: flex;
    justify-content: center;
}